@page "/windows"

<div class="page">
  <NavMenu OpenWindow="@(t => OpenAnotherWindow(new WindowParameters(t) { Top = "160px", Left = "660px", Height = "800px", Width = "800px"}))" />

  <main class="position-relative">
    <TopRow />

    <article class="content px-4 position-relative">
      @foreach (WindowParameters w in Windows) {
        <DynamicComponent Type="@w.Type" Parameters="@w.GetDictionary()" />
      }

    </article>
  </main>
</div>