@layout TelerikLayout
@inherits LayoutComponentBase

<PageTitle>Safyr Inspires Play</PageTitle>

<div class="page" style="height:100%">
  <main>
    <article class="" style="height:100%">
      @Body
    </article>
  </main>
</div>